/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
	font-family: 'Conv_Raleway-Regular';
	src: url('../fonts/Raleway-Regular.eot');
	src: local('☺'), url('../fonts/Raleway-Regular.woff') format('woff'), url('../fonts/Raleway-Regular.ttf') format('truetype'), url('../fonts/Raleway-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/opensans-regular.eot');
    src: url('../fonts/opensans-regular.eot') format('embedded-opentype'),
         url('../fonts/opensans-regular.woff2') format('woff2'),
         url('../fonts/opensans-regular.woff') format('woff'),
         url('../fonts/opensans-regular.ttf') format('truetype'),
         url('../fonts/opensans-regular.svg#OpenSansRegular') format('svg');
}
/*header*/
body{
    height: 100%;
}
input{
    outline: none;
}
header, main, footer, .globalContent{
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}
header{
    height: auto;
    background-color: #65B2FF;
    padding: 10px;
    box-sizing: border-box;
}
header>img{
    width: 15%;
    height: auto;
}
header>input{
    border: 0px;
    background-color: none;
    float: right;
    margin: 0 auto;
    transform: translateY(10%);
    padding: 8px;
    font-family: 'Conv_Raleway-Regular';
    
}
header>input[type='text']{
    background-color:#fff;
    width: 30%;
    color: #949494;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px; 

}
header>input[type='button']{
    background-color:#1470CC;
    color: #fff;
    -webkit-border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;

    margin-right: 8%
}
/*main*/
main{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
}main>section{
    width: 80%;
    height: auto;
    margin: 0 auto;
}
main>.contBlue{
    background-color: rgba(101,178,255,0.8);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 20px;
}
main>.btnMapa{
    width: 50px;
    height: 50px;
    background-size: 100%;
    position: fixed;
    cursor: pointer;
}
main>#btnPerfil{
    background-image: url(../img/perfilLogo.png);
    left: 3%;
    bottom: 20px;
}
main>#btnReporte{
    background-image: url(../img/reporteLogo.png);
    right: 3%;
    bottom: 20px;
}
#iframeContenet{
    width: 100%;
    border: 0px;
}







.show{
    display: block;
}



/* ==========================================================================
   Media Queries
   ========================================================================== */
/*MOVIL*/
@media (max-width: 300px){ 
    header>input[type='text']{
        width: 30%;
    }
}
@media (max-width: 468px){ 
    header>input[type='text']{
        width: 50%;
    }
}

@media (max-width: 768px){  
    header>img {
        display: none;
    }
    header>input{
       transform: translateY(20%);
    }
    header>input[type='text']{
        width: 60%;
    }
}
/*PC*/
@media (max-width: 992px){  }

@media (max-width:1200px){  }

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}